{% extends "layout.html.twig" %}

{% block content %}
    {% if user_manager.admin %}
        <h1>Hello Admin {{ user_manager.userName }}</h1>
    {% elseif user_manager.user %}
        <h1>Hello {{ user_manager.userName }}</h1>
    {% else %}
    <h1>Hello visiteur</h1>
    {% endif %}
{% endblock %}
