{% extends "layout.html.twig" %}

{% block content %}
    {% block commandes %}
        <div class="container">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Chapô</th>
                    <th>Contenu</th>
                    <th>Rubrique</th>
                    <th>Auteur</th>
                    <th width="200px"></th>
                </tr>
                {% for commande in commandes %}
                        
                {% endfor %}
                
            </table>
        </div>
    {% endblock %}
{% endblock %}
